/* Write your CSS code here */
.blog-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: aqua;
  border-radius: 12px;
  width: 600px;
  margin: 10px;
}
.li-head {
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}
.li-para {
  font-size: 14px;
  font-weight: 300;
}
.li-pub {
  font-size: 13px;
  font-weight: 300;
}
